{% extends 'base.html.twig' %}

{% block title %}Home page !{% endblock %}

{% block body %}

<div class="example-wrapper">
    {# <h1>Hello {{ controller_name }}! </h1> #}
<section class="main-slider-two">
	<div class="curve-layer" style="background-image: url(assets/images/main-slider/curve.png)"></div>
	<div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
		<div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
			<ul>

				<li data-transition="notselectable23" data-description="Slide Description" data-index="rs-1688" data-slotamount="default" data-thumb="assets/images/main-slider/image-4.jpg" data-title="Slide Title">
					<img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="assets/images/main-slider/image-4.jpg">

					<div class="color-layer"></div>
					<div class="tp-caption"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingtop="[0,0,0,0]"
						 data-responsive_offset="on"
						 data-type="text"
						 data-height="none"
						 data-width="['1100','800','800','500']"
						 data-whitespace="normal"
						 data-hoffset="['15','15','15','15']"
						 data-voffset="['-125','-170','-125','-110']"
						 data-x="['center','center','center','center']"
						 data-y="['middle','middle','middle','middle']"
						 data-textalign="['top','top','top','top']"
						 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						 style="">
						<div class="title">Secrets About Tips</div>
					</div>

					<div class="tp-caption"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingtop="[0,0,0,0]"
						 data-responsive_offset="on"
						 data-type="text"
						 data-height="none"
						 data-width="['1100','800','800','500']"
						 data-whitespace="normal"
						 data-hoffset="['15','15','15','15']"
						 data-voffset="['0','-50','0','-10']"
						 data-x="['center','center','center','center']"
						 data-y="['middle','middle','middle','middle']"
						 data-textalign="['top','top','top','top']"
						 data-frames='[{"delay":0,"split":"chars","splitdelay":0.05,"speed":2000,"frame":"0","from":"y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
						 style="">
						<h1>Get Control of Your <br> Life for serious</h1>
					</div>

					<div class="tp-caption  tp-resizeme"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingtop="[0,0,0,0]"
						 data-responsive_offset="on"
						 data-type="text"
						 data-height="none"
						 data-width="['700','700','700','500']"
						 data-whitespace="normal"
						 data-hoffset="['15','15','15','15']"
						 data-voffset="['160','100','160','120']"
						 data-x="['center','center','center','center']"
						 data-y="['middle','middle','middle','middle']"
						 data-textalign="['top','top','top','top']"
						 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						 style="">
						<div class="button-box">
							<a href="contact.html" class="theme-btn btn-style-nine"><span class="txt">Get Free Guide</span></a>
							<a href="contact.html" class="theme-btn btn-style-ten"><span class="txt">Learn More</span></a>
						</div>
					</div>

				</li>

				<li data-transition="fadetotopfadefrombottom" data-description="Slide Description" data-index="rs-1689" data-slotamount="default" data-thumb="assets/images/main-slider/image-4.jpg" data-title="Slide Title">
					<img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="assets/images/main-slider/image-4.jpg">

					<div class="color-layer"></div>
					<div class="tp-caption"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingtop="[0,0,0,0]"
						 data-responsive_offset="on"
						 data-type="text"
						 data-height="none"
						 data-width="['1100','800','800','500']"
						 data-whitespace="normal"
						 data-hoffset="['15','15','15','15']"
						 data-voffset="['-90','-240','-210','-210']"
						 data-x="['center','center','center','center']"
						 data-y="['middle','middle','middle','middle']"
						 data-textalign="['top','top','top','top']"
						 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						 style="">
						<div class="title">Secrets About Tips</div>
					</div>

					<div class="tp-caption"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingtop="[0,0,0,0]"
						 data-responsive_offset="on"
						 data-type="text"
						 data-height="none"
						 data-width="['1100','800','800','500']"
						 data-whitespace="normal"
						 data-hoffset="['15','15','15','15']"
						 data-voffset="['30','-100','-100','-110']"
						 data-x="['center','center','center','center']"
						 data-y="['middle','middle','middle','middle']"
						 data-textalign="['top','top','top','top']"
						 data-frames='[{"delay":0,"split":"chars","splitdelay":0.05,"speed":2000,"frame":"0","from":"y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"power4.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
						 style="">
						<h1>Get Control of Your <br> Life for serious</h1>
					</div>

					<div class="tp-caption  tp-resizeme"
						 data-paddingbottom="[0,0,0,0]"
						 data-paddingleft="[0,0,0,0]"
						 data-paddingright="[0,0,0,0]"
						 data-paddingtop="[0,0,0,0]"
						 data-responsive_offset="on"
						 data-type="text"
						 data-height="none"
						 data-width="['700','700','700','500']"
						 data-whitespace="normal"
						 data-hoffset="['15','15','15','15']"
						 data-voffset="['190','150','105','100']"
						 data-x="['center','center','center','center']"
						 data-y="['middle','middle','middle','middle']"
						 data-textalign="['top','top','top','top']"
						 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
						 style="">
						<div class="button-box">
							<a href="contact.html" class="theme-btn btn-style-nine"><span class="txt">Get Free Guide</span></a>
							<a href="contact.html" class="theme-btn btn-style-ten"><span class="txt">Learn More</span></a>
						</div>
					</div>

				</li>

			</ul>
		</div>
	</div>
</section>
<section class="services-section-two">
	<div class="auto-container">
		<div class="inner-container">
			<div class="row clearfix">

				<!-- Service Block Two -->
				<div class="service-block-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="upper-box">
							<div class="icon-box transition-500ms">
								<img src="assets/images/resource/service-icon-1.jpg" alt="" />
							</div>
							<h5><a asp-controller="Professional" asp-action="Index" >Coaching</a></h5>
							<div class="text">Help companies or individuals achieve their goal.</div>
						</div>
						<a asp-controller="Professional" asp-action="Index" class="read-more">Read More <span class="flaticon-right-arrow-1"></span></a>
					</div>
				</div>

				<!-- Service Block Two -->
				<div class="service-block-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="upper-box">
							<div class="icon-box transition-500ms">
								<img src="assets/images/resource/service-icon-2.jpg" alt="" />
							</div>
							<h5><a asp-controller="Client" asp-action="Index">Technical expertise</a></h5>
							<div class="text">Offer services that relate to your skill to help more people. </div>
						</div>
						<a asp-controller="Client" asp-action="Index" class="read-more">Read More <span class="flaticon-right-arrow-1"></span></a>
					</div>
				</div>

				<!-- Service Block Two -->
				<div class="service-block-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="upper-box">
							<div class="icon-box transition-500ms">
								<img src="assets/images/resource/service-icon-3.jpg" alt="" />
							</div>
							<h5><a asp-controller="Interest" asp-action="Index">Interest by</a></h5>
							<div class="text">Find an expert to estimate your project and carry it out.</div>
						</div>
						<a asp-controller="Interest" asp-action="Index" class="read-more">Read More <span class="flaticon-right-arrow-1"></span></a>
					</div>
				</div>

				<!-- Service Block Two -->
				<div class="service-block-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="upper-box">
							<div class="icon-box transition-500ms">
								<img src="assets/images/resource/service-icon-4.jpg" alt="" />
							</div>
							<h5><a asp-controller="Project" asp-action="Subscription">Life Programs</a></h5>
							<div class="text">If you have an idea, make an appointment with an expert to see it through to completion.</div>
						</div>
						<a asp-controller="Project" asp-action="Subscription" class="read-more">Read More <span class="flaticon-right-arrow-1"></span></a>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="popular-courses-section">
	<div class="auto-container">
		<!-- Sec Title Three -->
		<div class="sec-title-three centered">
			<h2>Popular Services</h2>
		</div>

		<div class="row clearfix">
			{# @foreach (ProfessionalViewModel pro in (List<ProfessionalViewModel>)ViewData["ExperienceTop6"])
			{#}
				
			<!-- Course Block Three -->
			<div class="course-block-three col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<a asp-controller="Professional" asp-action="Index"><img class="transition-500ms" src="./assets/@pro.Services.Images" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="play-box transition-500ms">
							<a href="./assets/@pro.Services.Brochure" class="lightbox-image play-button"><span class="flaticon-play-arrow"><i class="ripple"></i></span></a>
						</div>
						<div class="rating">
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<i>(77)</i>
						</div>
							<h6><a asp-controller="Professional" asp-action="Index">@pro.Services.Service</a></h6>
						<ul class="course-info">
							<li><span class="icon flaticon-briefcase-1"></span>@pro.Professional.Project_qualification</li>
							<li><span class="icon flaticon-user-4"></span>By <strong>@pro.Professional.Firstname</strong></li>
							<li><span class="icon flaticon-clock"></span>14 Hours</li>
						</ul>
					</div>
				</div>
			</div>
			
			{# }#}

		</div>

	</div>
</section>

</div>
{% endblock %}
