
@{
}
<section class="page-title" style="background-image: url(assets/images/background/2.jpg)">
	<div class="auto-container">
		<div class="content">
			<div class="text">Welcome to your future</div>
			<h1>I would like to build a project</h1>
		</div>
		<div class="breadcrumb-outer">
			<ul class="page-breadcrumb">
				<li><a asp-controller="Home" asp-action="Index">Home</a></li>
				<li>Interest</li>
			</ul>
		</div>
	</div>
</section>


<section class="category-section">
	<div class="auto-container">
		<div class="sec-title-two centered">
			<div class="title">Access</div>
			<h2>Popular Category</h2>
		</div>
		<div class="row clearfix">
		@*	@foreach (ProfessionalViewModel pro in (List<ProfessionalViewModel>)ViewData["ExperienceTop8"])
			{
			<!-- Category Block -->
			<div class="category-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box transition-300ms">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon"><img src="assets/images/icons/category-1.png" alt="" /></div>
					<h5><a href="courses-detail.html">Natural Diet</a></h5>
					<div class="courses">20 Course</div>
				</div>
			</div>

			

			}*@
			<div class="category-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box transition-300ms">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon"><img src="assets/images/icons/category-1.png" alt="" /></div>
					<h5><a href="courses-detail.html">Make a robot with built-in artificial intelligence</a></h5>
					<div class="courses">200886  €</div>
				</div>
			</div>
				<!-- Category Block -->
			<div class="category-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box transition-300ms">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon"><img src="assets/images/icons/category-2.png" alt="" /></div>
					<h5><a href="courses-detail.html">Make an app like SIRI</a></h5>
					<div class="courses">50400 €</div>
				</div>
			</div>

			<!-- Category Block -->
			<div class="category-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box transition-300ms">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon"><img src="assets/images/icons/category-3.png" alt="" /></div>
					<h5><a href="courses-detail.html">Make an app for shoppingt</a></h5>
					<div class="courses">8000 €</div>
				</div>
			</div>

			<!-- Category Block -->
			<div class="category-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box transition-300ms">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon"><img src="assets/images/icons/category-4.png" alt="" /></div>
					<h5><a href="courses-detail.html">Make a service robot</a></h5>
					<div class="courses">250000 €</div>
				</div>
			</div>

			<!-- Category Block -->
			<div class="category-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box transition-300ms">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon"><img src="assets/images/icons/category-5.png" alt="" /></div>
					<h5><a href="courses-detail.html">Make an online game</a></h5>
					<div class="courses">18000 €</div>
				</div>
			</div>

			<!-- Category Block -->
			<div class="category-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box transition-300ms">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon"><img src="assets/images/icons/category-6.png" alt="" /></div>
					<h5><a href="courses-detail.html">Make a 3D maquette</a></h5>
					<div class="courses">20000 €</div>
				</div>
			</div>

			<!-- Category Block -->
			<div class="category-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box transition-300ms">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon"><img src="assets/images/icons/category-7.png" alt="" /></div>
					<h5><a href="courses-detail.html">Make a 3D environment</a></h5>
					<div class="courses">10000 €</div>
				</div>
			</div>

			<!-- Category Block -->
			<div class="category-block col-lg-3 col-md-6 col-sm-12">
				<div class="inner-box transition-300ms">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon"><img src="assets/images/icons/category-8.png" alt="" /></div>
					<h5><a href="courses-detail.html">Make a website with statistics and data analysis</a></h5>
					<div class="courses">2000 €</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="process-section" style="background-image: url(assets/images/background/pattern-2.png)">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title light">
			<div class="title">Process</div>
			<h2>Our Solution Process</h2>
		</div>
		<div class="row clearfix">

			<!-- Process Block -->
			<div class="process-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
				<div class="inner-box transition-300ms">
					<div class="icon transition-500ms flaticon-shopping-cart"></div>
					<div class="step">step 01</div>
					<h4><a href="service-detail.html">Plan For Work</a></h4>
					<div class="text">Thanks to the plans, you place an ad to find a qualified person who will answer you and give you a quote...</div>
				</div>
			</div>

			<!-- Process Block -->
			@*	<div class="process-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
			<div class="inner-box transition-300ms">
			<div class="icon transition-500ms flaticon-implement"></div>
			<div class="step">step 02</div>
			<h4><a href="service-detail.html">Implementation</a></h4>
			<div class="text">Through plans, you break down a process into small and identify the things you accomplish..</div>
			</div>
			</div>*@

			<!-- Process Block -->
			<div class="process-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
				<div class="inner-box transition-300ms">
					<div class="icon transition-500ms flaticon-friend"></div>
					<div class="step">step 02</div>
					<h4><a href="service-detail.html">Consultancy</a></h4>
					<div class="text">You make an appointment with a qualified person who can help you as soon as possible...</div>
				</div>
			</div>
			<!-- Process Block -->
			<div class="process-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
				<div class="inner-box transition-300ms">
					<div class="icon transition-500ms flaticon-planning"></div>
					<div class="step">step 03</div>
					<h4><a href="service-detail.html">Plan For Work</a></h4>
					<div class="text">Through plans, you break down a process into small and identify the things you accomplish...</div>
				</div>
			</div>
			<!-- Process Block -->
			<div class="process-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
				<div class="inner-box transition-300ms">
					<div class="icon transition-500ms flaticon-finish-line"></div>
					<div class="step">step 04</div>
					<h4><a href="service-detail.html">Project Closure</a></h4>
					<div class="text">You reach your objects step by step...</div>
				</div>
			</div>

		</div>
	</div>
</section>